.body{
    background-color: rgb(225, 253, 183);
}

ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #888888;
  }


  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: rgb(119, 119, 119);
  }

.nav-active {
    background-color: green;
}

header{
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

.top{
    background-color: rgb(114, 202, 55);
}

span.right{
  text-align: right;
  float: right;
  padding: 5px;
}

span.left{
  text-align: left;
  float: left;
  padding: 5px;
}

span.kinda-left{
  text-align: left;
  float: left;
  padding: 200px;
}

ul.stats{
  background-color: white;
}

span.farming-video{
  float: left;
  padding: 20px;
}

span.left-padded{
  float: left;
  padding: 20px;
}